*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}


html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container{
    position: relative;
    height: 100%;
    margin: 40px;
}
.loading-item{
    float: left;
    margin-right: 10px;
    text-align: center;
}
h2{
    margin-bottom: 10px;
}

.loading-1 > div{
    display: inline-block;
    width: 6px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation: loading1 1.2s infinite ease-out;
    animation: loading1 1.2s infinite ease-out;
}
.loading-1 > div:nth-of-type(1){
    -webkit-animation-delay: 0s;
}
.loading-1 > div:nth-of-type(2){
    -webkit-animation-delay: -1.1s;
}
.loading-1 > div:nth-of-type(3){
    -webkit-animation-delay: -1s;
}
.loading-1 > div:nth-of-type(4){
    -webkit-animation-delay: -0.9s;
}
.loading-1 > div:nth-of-type(5){
    -webkit-animation-delay: -0.8s;
}
.loading-1 > div:nth-of-type(6){
    -webkit-animation-delay: -0.7s;
}
@-webkit-keyframes loading1 {
    0%,
    40%,
    100%{
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    20%{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

}
@keyframes loading1 {
    0%,
    40%,
    100%{
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    20%{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

}

.loading-2 >div{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 6px rgba(100, 100, 100, 0.4);
    border-left-color: rgba(0, 0, 0, 1);
    -webkit-animation: loading2 1s infinite ease-in-out;
    animation: loading2 1s infinite ease-in-out;
}

@-webkit-keyframes loading2 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}
@keyframes loading2 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

.loading-3 > div{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation: loading3 1.5s infinite ease;
    animation: loading3 1.5s infinite ease;
}
@-webkit-keyframes loading3 {
    0% {
        -webkit-transform: perspective(150px);
        transform: perspective(150px);
    }
    50% {
        -webkit-transform: perspective(150px) rotateY(180deg);
        transform: perspective(150px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(150px) rotateY(180deg)  rotateX(180deg);
        transform: perspective(150px) rotateY(180deg)  rotateX(180deg);
    }

}
@keyframes loading3 {
    0% {
        -webkit-transform: perspective(150px);
        transform: perspective(150px);
    }
    50% {
        -webkit-transform: perspective(150px) rotateY(180deg);
        transform: perspective(150px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(150px) rotateY(180deg)  rotateX(180deg);
        transform: perspective(150px) rotateY(180deg)  rotateX(180deg);
    }

}

.loading-4 > div{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 6px rgba(0, 0, 0, 0.8);
}
.loading-4 > div:before,
.loading-4 > div:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    width: 4px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform-origin: 2px 1px;

}
.loading-4 > div:before{
    -webkit-animation: loading4 1s infinite linear;
    animation: loading4 1s infinite linear;
}
.loading-4 > div:after{
    height: 10px;
    -webkit-animation: loading4 12s infinite linear;
    animation: loading4 12s infinite linear;
}
@-webkit-keyframes loading4 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}
@keyframes loading4 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

.loading-5 > div{
    padding-top: 5px;
}
.loading-5 > div >div{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 4px rgba(0, 0, 0, 0.8);
    margin-right: 4px;
    position: relative;
}
.loading-5 > div >div>div{
    position: absolute;
    top: 50%;
    width: 40%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    -webkit-animation: loading5 1.5s infinite ease-in-out;
    animation: loading5 1.5s infinite ease-in-out;
}
@-webkit-keyframes loading5 {
    0%{
        left: 20%;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 20%;
    }

}
@keyframes loading5 {
    0%{
        left: 20%;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 20%;
    }

}


.loading-6 >div{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: dashed 4px rgba(0, 0 , 0, 0.8);
    -webkit-animation: loading2 2s infinite linear;
    animation: loading2 2s infinite linear;
}
.loading-6 >div:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border:solid 4px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}
